<%- include('../partials/header')-%> <%- include('../partials/navbarAdmin')-%>
<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://drive.google.com/uc?export=view&id=15FGP5X83sFThxT0JUkvVbymvR6Tamwjm"
        class="d-block w-100"
        alt="Not found"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Sierra AT4</h5>
        <p>
          يتميز بالقوة والقدرة وتصميم داخلي فسيح ومريح لكنها لا تصل إلى
          المستويات العالية مثل بعض المنافسين
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://drive.google.com/uc?export=view&id=1ep5tqj287gEjkSw6Fglp-n2VNeihYuQH"
        class="d-block w-100"
        alt="Not found"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Mercedes GLE 63</h5>
        <p>
          نجحت مرسيدس في الجمع بين مواصفات مركبات SUV الفاخرة وسيارات كوبيه
          الرياضية في النسخة عالية الأداء
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://drive.google.com/uc?export=view&id=1hyIrCcuek9IYuR5vi0uOe9rIZj5zLLx4"
        class="d-block w-100"
        alt="Not found"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Rang Rover Sport</h5>
        <p>
          هي السيارة الرياضية متعددة الاستخدامات الفاخرة متوسطة الحجم للعلامة
          التجارية وهي تقع بين سيارة رنج روفر ذات المستوى الأعلى وسيارة رنج روفر
          فيلار الأصغر.
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--  -->
<h2 class="text-center"><span class="badge bg-secondary">الاخبار</span></h2>
<div class="container">
  <div class="row mt-3 ms">
    <div class="col-sm-6 col-md-4">
      <div class="card text-center" style="width: 22rem">
        <img
          src="https://drive.google.com/uc?export=view&id=15FGP5X83sFThxT0JUkvVbymvR6Tamwjm"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Sierra AT4</h5>
          <p>
            نظام رفع التعليق بمقدار 2 إنش كتجهيز أساسي من المصنع يمنحك هذا
            النظام مظهراً جريئاً ويجسد إمكانيات القيادة على الطرقات الوعرة مع
            هيكل أكثر ارتفاعاً وزوايا الارتفاع المطوّرة في المقدمة والخلفية..
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card text-center" style="width: 22rem">
        <img
          src="https://drive.google.com/uc?export=view&id=1ep5tqj287gEjkSw6Fglp-n2VNeihYuQH"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="card-body">
            <h5 class="card-title">Mercedes GLE 63</h5>
            <p>
              يبرز في شكل السيارة تصميم السقف المنحني،وتتضمن هذه التعديلات حافة
              أمامية من الكروم تنقل الهواءإلى فتحات التهوية في الشبك الأمامي
              العريض،ومن الخلف حصلت السيارة على فتحات جانبية ومشتت هواء خلفي مع
              فوهات عادم مزدوجة على الجانبين.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card text-center" style="width: 22rem">
        <img
          src="https://drive.google.com/uc?export=view&id=1SNkYs3GZjM9PVRc3seoasdkyu_W6xQyX"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="card-body">
            <h5 class="card-title">Range Rover Sport</h5>
            <p>
              يمكن أن تكون رياضية نسبيًا إذا حصلت عليها بأحد محركاتها الأكثر
              قوة. محرك ست أسطوانات بقوة 355 حصانًا قياسيًا، ولكن هناك أيضًا
              محرك ديزل متاح، ومجموعة نقل هجينة تعمل بالكهرباء،ومحرك V8 فائق
              الشحن بقوة 516 حصان. وكونها لاند روفر، .
            </p>
          </div>
        </div>
      </div>
    </div>
    <%-include('../partials/footer')-%>
  </div>
</div>
